/* 
TODO: Change the background color for each device
Mobile Devices: 319px — 480px
iPads and Tablets: 481px — 1200px
Laptops: 1201px — 1600px
Desktops: 1601px and more
*/



a {
    color: inherit;
    text-decoration: inherit;
}

.container-fluid {
    padding: 0;
}

.dark_container {
    background-color: #E9e3dc;
}

.light_container {
    background-color: #f7f5ee;
}

h1 {
    font-size: 1.951vw;
    font-family: "Playfair Display", serif;
    color: #1a2f4f;
}

h2 {
    font-size: 1.852vw;
    font-family: "Playfair Display", serif;
    color: #1a2f4f;
}

h3 {
    font-size: 1.257vw;
    font-family: "Playfair Display", serif;
    color: #1a2f4f;
}

h4 {
    font-size: 1.124vw;
    font-family: "Playfair Display", serif;
    color: #1a2f4f;
}

p {
    font-size: 0.992vw;
    font-family: "Poppins", sans-serif;
    color: #1a2f4f;
    margin: 0;
}

li {
    font-size: 0.992vw;
    font-family: "Poppins", sans-serif;
    color: #1a2f4f;
    margin: 0;
}

hr {
    margin: 0;
}

/* Navigation Bar and Title */

.navbar {
    padding: 0;
}

.navbar-nav {
    margin: 0 0 0 42.963%;
}

.nav-link:hover {
    color: #1a2f4f;
}

.nav-item {
    padding: 0 20px;
}

.nav-link {
    font-size: 0.93vw;
    font-weight: light;
    color: #1a2f4f;
    font-family: "Playfair Display", serif;
    padding: 0;

}

.dropdown-menu {
    background-color: #e7e0da;
    padding: 5px 0 0;
    border: none;
}

.dropdown-menu hr {
    border-color: #1a2f4f;
    position: relative;
    /* background-color: #f7f5ee; */
}

.dropdown-item {
    padding: 0;
    position: relative;
    text-align: center;
    right: 50px;
}

.dropdown-item:hover {
    background-color: #e7e0da;
}

#about {
    width: 100px;
    right: 20px;
}

.list_services {
    padding: 0 0 0 18px;
}

#services {
    width: 145px;
    right: 33.5px;
}

#resources {
    width: 144px;
    right: 30px;
}

.large-logo {
    max-width: 100%;
    height: auto;
}

.group-name {
    width: 18%;
    height: 55%;
    margin: 1.667%;
}

.header-container {
    background-color: #e7e0da;
    height: 3.353%;
    width: 100%;
}

/* CSS for navbar dropdowns */
.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
}

/* Remove triangle next to dropdown name */
.navbar-nav .dropdown-toggle::after {
    display: none;
}

/* End Nav Bar and Title */

/* Footer Section */

.footer-container {
    width: 100%;
    height: 100%;
    background-color: #e7e0da;
}

.end {
    margin: 0 11% 0;
    padding: 0 0 2px;
}

.footer {
    margin: 0 0 20px;
}

.footer-logo {
    padding: 0;
}

.mini-logo {
    width: 30%;
    margin: 50px 140px 0 140px;
}


.footer-list {
    padding: 0;
    margin: 20px 0 0 0;
}

.footer-bullet {
    list-style-type: none;
    line-height: 2.5;
    padding: 0 100px;
    margin: 0;
    text-align: center;
    color: #1a2f4f;
}

.footer-bullets {
    font-size: 0.86vw;
}

.footer-divide {
    padding: 50px 0;
}

.footer-clicks {
    padding: 0;
}

.footer-links {
    margin-top: 40px;
}

.book-a-consult {
    margin-left: 110px;
    margin-bottom: 30px;
}

.footer-btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Arial;
    color: #e7e0da;
    font-size: 0.926vw;
    background: #1a2f4f;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.footer-btn:hover {
    background: #1a2f4f;
    text-decoration: none;
}

.client-portal {
    margin-left: 135px;
    margin-bottom: 30px;
}

.footing {
    text-align: center;
    margin: 10px 0 0;

}

.footing-p {
    font-size: 0.794vw;
    cursor: pointer;
}

.social-media {
    padding-top: 15px;
    margin-left: 125px;
}

.fa-instagram {
    padding-left: 20px;
    padding-right: 20px;
}

.social-icon {
    color: #1a2f4f;
}

#popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    display: none;
    align-items: center;
    justify-content: center;
}

#popup-content {
    background-color: #f7f5ee;
    margin: 0 11%;
    padding: 20px;
    max-height: 80%;
    /* Maximum height of the content with scrolling */
    overflow-y: auto;
    /* Enable scrolling for overflow */
}

#popup-close {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 20px;
    height: 20px;
    font-size: 25px;
    font-weight: bold;
    color: #f7f5ee;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
}

#popup-close:hover {
    color: #333;
}

#popup-heading {
    text-align: center;
}

/* End Footer Section */

/*Finding Clarity*/
.quote-container {
    position: relative;
    padding: 200px 0;
    margin: 0 11%;

}

.quote {
    width: 100%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 2vw;
    position: relative;
    bottom: 135px;
}

.quote-background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    width: 100%;
}

/* End Finding Clarity Section */

/*Therapy For Young Adults*/

.therapy-fya {
    margin: 0 11%;
    padding: 40px 0 32px;
}

.therapy-writing {
    padding: 0 12px;
    width: 50%;
}

.top-writing {
    margin: 0 0 20px;
    text-align: left;
}

.therapy-h1 {
    color: #1a2f4f;
    margin: 0 0 5px;
    text-align: center;
}

.therapy-h3 {
    color: #1a2f4f;
    text-align: center;
}

.bottom-writing {
    margin: 25px 0 40px;
    text-align: left;
}


.therapy-tagline {
    text-align: left;
    font-weight: 500;
    padding: 10px 0 0;
}

.consultation-btn {
    text-align: center;
}

.book-btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: "Poppins";
    color: #1a2f4f;
    font-size: 0.926vw;
    background: #f7f5ee;
    padding: 10px 20px 10px 20px;
    border: solid #1a2f4f 2px;
    text-decoration: none;
}

.book-btn:hover {
    background: #1a2f4f;
    text-decoration: none;
    color: #E9e3dc;
}

.help_btn {
    text-align: center;
    padding: 52px 0 40px;

}

.help-btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: "Poppins";
    color: #1a2f4f;
    font-size: 0.926vw;
    background: #E9e3dc;
    padding: 10px 20px 10px 20px;
    border: solid #1a2f4f 2px;
    text-decoration: none;
}

.help-btn:hover {
    background: #1a2f4f;
    text-decoration: none;
    color: #E9e3dc;
}

.therapy-photo {
    padding: 0;
}

.therapy-p {
    padding: 10px 0;
}

.stressed-photo {
    position: relative;
    width: 60%;
    left: 18%;

}

/* End Therapy For Young Adults section */

/* Areas of Focus Section */

.area {
    margin: 0 11%;
    padding: 40px 0 32px;
}

.areas-of-focus {
    margin: 0;
}

.area-h2 {
    text-align: center;
}

.areas-header {
    background-color: #E9e3dc;
    background-image: linear-gradient(to right, #E9e3dc, #f7f7f7, #E9e3dc);

}

.area-h3 {
    padding: 10px 0 10px 10px;
    color: #1a2f4f;
}

.areas-of-focus-writing {
    padding: 50px 30px 0;
}



/* End Areas of Focus Section */

/* Benefits of Therapy Section */
.benefits {
    margin: 0 11% 0px;
    padding: 40px 0 0;
}

.benefits-header {
    margin: 0 0 40px;
}

.benefits-title {
    text-align: center;
}

.benefits-list {
    margin: 0;
    justify-content: center;
}

.benefits-background {
    background-color: #1a2f4f;
    padding: 40px 50px 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.benefits-text {
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #1a2f4f;
    font-weight: 300;
    margin: 0;
    font-size: 1.75vw;

}

.benefits-col-2 {
    margin: 0 50px;
}

#benefits-1 {
    padding-top: 40px;
}

#benefits-2 {
    padding-top: 50px;
}

#benefits-3 {
    padding-top: 40px;
}

#benefits-4 {
    padding-top: 45px;
}

#benefits-5 {
    padding-top: 50px;
}

#benefits-6 {
    padding-top: 30px;
}

#benefits-7 {
    padding-top: 45px;
}

#benefits-8 {
    padding-top: 50px;
}

#benefits-9 {
    padding-top: 50px;
}

.fa-solid {
    color: #1a2f4f;
}

.fa-plus,
.fa-xmark {
    font-weight: 600;
}

.fa-solid:hover {
    color: #1a2f4f;
}


.carousel-indicators button.active {
    background-color: #1a2f4f;
}

.carousel-indicators {
    position: relative;
    /* margin: 0px 176px 0; */
}

.carousel-buttons {
    margin: 50px 0 0;
}


/* End Benefits of Therapy Section */

/* How We Work Together Section */

.how-we {
    margin: 0 11% 0px;
    padding: 40px 0 32px;
    text-align: left;

}

.how-we-header {
    margin: 0;
}

.how-we-h2 {
    text-align: center;
}

.how-we-note {
    margin: 85px 0;
    padding: 50px 50px 0;
}

.how-we-note-p-2 {
    padding: 20px 0;
}

.work-together-photo {
    padding: 0;
}

.couch-photo {
    width: 80%;
    margin: 20px 0 55px 40px;
    padding: 20px 0 0;
}

.schedule-btn {
    text-align: center;
    padding: 0 0 15px;
}

.how-we-btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: "Poppins";
    color: #1a2f4f;
    font-size: 0.926vw;
    background: #f7f5ee;
    padding: 10px 20px 10px 20px;
    border: solid #1a2f4f 2px;
    text-decoration: none;
}

.how-we-btn:hover {
    background: #1a2f4f;
    text-decoration: none;
    color: #f7f5ee;
}

/* End How We Work Together Section */

/* How it works Section */

.how-it-works {
    margin: 0 11% 0px;
    padding: 20px 0;
}

.how-it-works-h2 {
    text-align: center;
}

.how-it-works-h4 {
    margin: 0 0 20px;
}

.icon {
    padding: 0 0 20px;
}

.features {
    margin: 0;
}

.feature-box {
    padding: 20px 60px 0;
    text-align: center;
}

/* End How it works Section */

/* Quote about change Section */

.change {
    margin: 0 11% 0px;
    padding: 40px 0;
}

.change-header {
    padding: 0 0 20px;
    font-size: 1.058vw;
    text-align: center;
}

.change-quote {
    font-weight: lighter;
    font-family: "Poppins", sansserif;
    text-align: center;
}

.ready-btn {
    text-align: center;
    padding: 30px 0 0;
}

.clear-btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: "Poppins";
    color: #1a2f4f;
    font-size: 0.926vw;
    background: #f7f5ee;
    padding: 10px 20px 10px 20px;
    border: solid #1a2f4f 2px;
    text-decoration: none;
}

.clear-btn:hover {
    background: #1a2f4f;
    text-decoration: none;
    color: #f7f5ee;
}

/* End Quote about Change Section */

/* END MAIN PAGE */

/* About Me Page */

/* About Mollie Section */

.about_me {
    margin: 0 11% 0px;
    padding: 40px 0;
}

.headshot {
    position: relative;
    margin: 0;
    left: 8%;
    top: 10%;
    width: 80%;
    border-radius: 50px;
    border: solid #1a2f4f 2px;
}

.about_me_writing {
    padding: 30px 0;
}

.about_me_header {
    text-align: left;
}

.about_me_p {
    padding: 40px 0 0;
}

.about_me_p p {
    padding: 10px 0;
}

.about_me_tagline {
    font-weight: 500;
}

.about_me_btn {
    text-align: center;
    padding: 30px 0 0;
}

/* End About Mollie Section */

/* Modalities Section */

.modalities {
    margin: 0;
}

.modalities_h2 {
    text-align: center;
    margin: 0 0 40px;
}

.modalities-p {
    line-height: 2;
}

.modalities-list {
    list-style: none;
}

.modalities_drop {
    font-family: "Poppins", sans-serif;
    font-size: 1.124vw;
    font-weight: 400;
    margin-bottom: 10px;
    padding-left: 30px;
    position: relative;
}

.mod-icon {
    position: absolute;
    left: 0;
    cursor: pointer;
    text-align: center;
}

.mod-bullets {
    list-style: none;
}

.modalities_photo {
    position: inherit;
    left: 20%;
    top: 8%;
    width: 60%;
    border-radius: 50px;
}

/* End Modalities Section */

/* Education Section */

.education_h2 {
    text-align: center;
    margin: 0 0 30px;
}

.trainings {
    list-style-type: none;
    text-align: center;
    line-height: 2;
}


/* FAQ Page*/

.faq_section {
    margin: 0 11% 0px;
    padding: 40px 0;
}

.faq_h1 {
    text-align: center;
}

.faq_bullets {
    list-style-type: none;
}

.faq_bullets p {
    padding: 10px 0;
}

.question {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
    padding-left: 30px;
    position: relative;
    margin: 10px;
}

.icon-main {
    position: absolute;
    left: 0;
    cursor: pointer;
    text-align: center;
}

.non-active {
    display: none;
}

.answer {
    padding: 0 50px;
}

.faq_background {
    background-image: url("/images/plant_background.png");
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.additional_questions {
    text-align: center;
    padding: 40px 0 0;
}

.additional_questions a {
    text-decoration: underline;
    cursor: pointer;
}

/* End FAQ Page */

/* Billing + Insurance Page */
.billing {
    margin: 0 11% 0;
}

.billing_header {
    padding: 30px 0;
    text-align: center;
}

.billing_list {
    padding: 0;
}

.billing_list p {
    padding: 0 0 10px;
}

.billing_p {
    padding: 0 0 20px;
}

.good_faith {
    text-align: center;
    font-size: 10px;
}

.good_faith_link {
    cursor: pointer;
    text-decoration: underline;
}

.billing_p p {
    padding: 10px 0;
}

.billing_p em {
    text-align: center;
}

.billing_row {
    margin: 0;
    padding: 0 0 36px;
}

.billing_question {
    font-style: italic;
    font-weight: 300;
}

.comp_photo {
    position: relative;
    left: 15%;
    top: 10%;
    width: 70%;
}

.billing-btn {
    text-align: center;
    padding: 40px 0;
}

/* End Billings + Insurance Page */

/* Services - Individual Therapy Page */

.services_btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: "Poppins";
    color: #1a2f4f;
    font-size: 0.926vw;
    background: #f7f5ee;
    padding: 10px 20px 10px 20px;
    border: solid #1a2f4f 2px;
    text-decoration: none;
}

.services_btn:hover {
    background: #1a2f4f;
    text-decoration: none;
    color: #f7f5ee;
}

.virtual_btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: "Poppins";
    color: #1a2f4f;
    font-size: 0.926vw;
    background: #E9e3dc;
    padding: 10px 20px 10px 20px;
    border: solid #1a2f4f 2px;
    text-decoration: none;
}

.virtual_btn:hover {
    background: #1a2f4f;
    text-decoration: none;
    color: #E9e3dc;
}

.individual {
    margin: 0 11%;
}

.individual_header {
    text-align: center;
    padding: 40px 0 20px;
    margin: 0;
}

.individual_row {
    margin: 0;
    padding: 0 0 40px;
}

.individual_row img {
    margin: 60px 0 0;
}

.individual_p {
    margin: 0;
    padding: 0 0 40px;
}

.individual_writing {
    margin: 0;
    padding: 10px 0 0;
}


.individual_writing p {
    margin: 0;
    padding: 20px 0;
}

.individual_list {
    padding: 40px 0;
}

.individual_list h3 {
    text-align: center;
    margin: 0;
    padding: 0 0 30px;
}

.individual_list h4 {
    text-align: center;
}

.individual_list li {
    list-style: none;
}

.individual_list p {
    padding: 10px 0;
}

.virtual_p {
    padding: 0 0 20px;
}

.virtual_p p {
    padding: 10px 0;
}

.virtual_note {
    padding: 30px 150px;

    font-size: 200;
    text-align: center;
}

.virtual_note_p1 {
    padding: 20px 0 20px;
}

.virtual_note_p2 {
    padding: 20px 0 20px;
    font-style: italic;
}

.virtual_row {
    margin: 0;
    padding: 0;
}

.virtual_row p {
    margin: 0;
    padding: 15px 0;
}

.virtual_row h3 {
    padding: 60px 0 0;
}

.individual_btn {
    text-align: center;
    padding: 40px 0;
}

.individual_headshot {
    position: relative;
    left: 20%;
    width: 60%;
    border-radius: 50px;
    border: #1a2f4f solid 2px;
}

.virtual_backpack {
    position: relative;
    left: 20%;
    width: 50%;
    border-radius: 50px;
}

.virtual_computer {
    position: relative;
    left: 25%;
    width: 50%;
    border-radius: 50px;
}

.virtual_row_photo {
    padding: 40px 0 20px;
}

.virtual_row_text {
    padding: 40px 0 20px;
}

.virtual_benefits {
    border-left: #1a2f4f solid 1px;
    border-right: #1a2f4f solid 1px;
}

/* Services - Supervision */

.supervision {
    margin: 0 11%;
}

.supervision_h1 {
    text-align: center;
    padding: 30px 0 20px;
    margin: 0;
}

.supervision_row {
    margin: 0;
    padding: 0 0 30px;
}

.supervision_p {
    padding: 60px 0 0;
}

.supervision_p p {
    padding: 10px 0;
}

.supervision_btn {
    text-align: center;
    padding: 40px 0;
}

.book_photo {
    position: relative;
    left: 20%;
    width: 60%;
    height: auto;
    border-radius: 50px;
}


/* End Services Page */

/* Areas of Focus Page */

.areas_of_focus_page {
    margin: 0 11% 0px;
    padding: 40px 0;
}

.areas_of_focus_page .row {
    margin: 0;
}

.areas_of_focus_header {
    text-align: center;
    padding: 0px
}

/* .areas_of_focus_page .col-3 {
    background-color: white;
} */

.areas_of_focus_photo {
    width: 100%;
    height: auto;
    position: relative;
    margin: 80px 0 0;
}


.focus-btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: "Poppins";
    color: #1a2f4f;
    font-size: 0.926vw;
    background: #f7f5ee;
    padding: 10px 20px 10px 20px;
    border: solid #1a2f4f 2px;
    text-decoration: none;
}

.focus-btn:hover {
    background: #1a2f4f;
    text-decoration: none;
    color: #f7f5ee;
}

.areas_of_focus {
    text-align: center;
    padding: 30px 0 10px;
}

.areas_of_focus_h2_header {
    padding: 0 0 20px 0;
}

.areas_of_focus_p {
    padding: 20px 20px 20px 30px;
}

.areas_of_focus_p h4 {
    margin: 15px 0 10px;
}

.collapse {
    display: none;
    /* Initially hide the content */
}

.collapse.show {
    display: block;
    /* Show the content when the 'show' class is applied */
}

/* End Areas of Focus page */

/* Consultation page */

.consultation_page {
    margin: 0 11% 0px;
    padding: 40px 0;
}

.consultation_header {
    margin: 0;
    padding: 0;
}

.consultation_header h1 {
    text-align: center;
    padding: 20px 0;
    margin: 0;
}

.form-all .row {
    padding: 20px 0 0;
}

.required:after {
    color: #1a2f4f;
}

.required {
    font-family: "Poppins", sans-serif;
    color: #1a2f4f;
}

.consult {
    text-align: center;
    padding: 30px 0;
}

.consult-btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: "Poppins";
    color: #1a2f4f;
    font-size: 0.926vw;
    background: #f7f5ee;
    padding: 10px 20px 10px 20px;
    border: solid #1a2f4f 2px;
    text-decoration: none;
}

.consult-btn:hover {
    background: #1a2f4f;
    text-decoration: none;
    color: #f7f5ee;
}

.form-control {
    background-color: #f7f5ee;
    border-radius: 0;
    border: solid #1a2f4f 2px;
}

.contact_info {
    text-align: center;
    padding: 30px 0 0;
    margin: 0;
}


.email {
    border-right: #1a2f4f solid 1px;
    }

.phone {
    border-left: #1a2f4f solid 1px;
}


/* End Consultation Page */

/* Blogs Page */

.blogs {
    margin: 0 11% 0px;
    padding: 40px 0;
}

.blogs h1 {
    text-align: center;
}

.blogs h3 {
    text-align: center;
    font-style: italic;
    padding: 20px 0;
}

.blogs p {
    padding: 20px 0;
}