a {
    color: inherit;
    text-decoration: inherit;
}

.container-fluid {
    padding: 0;
}

.dark_container {
    background-color: #E9e3dc;
}

.light_container {
    background-color: #f7f5ee;
}

h1 {
    font-size: 1.951vw;
    font-family: "Playfair Display", serif;
    color: #1a2f4f;
}

h2 {
    font-size: 1.852vw;
    font-family: "Playfair Display", serif;
    color: #1a2f4f;
}

h3 {
    font-size: 1.257vw;
    font-family: "Playfair Display", serif;
    color: #1a2f4f;
}

h4 {
    font-size: 1.124vw;
    font-family: "Playfair Display", serif;
    color: #1a2f4f;
}

p {
    font-size: 0.992vw;
    font-family: "Poppins", sans-serif;
    color: #1a2f4f;
    margin: 0;
}

li {
    font-size: 0.992vw;
    font-family: "Poppins", sans-serif;
    color: #1a2f4f;
    margin: 0;
}

hr {
    margin: 0;
}


/* Benefits of Therapy Section */
.benefits {
    margin: 0 11% 0px;
    padding: 20px 0 100px;
}

.benefits-header {
    margin: 40px 0;
}

.benefits-title {
    text-align: center;
}

.benefits-list {
    margin: 0;
    justify-content: center;
}

.benefits-background {
    background-color: #1a2f4f;
    padding: 40px 50px 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.benefits-text {
    font-family: "Poppins", sans-serif;
    text-align: center;
    color:#1a2f4f;
    font-weight: 300;
    margin: 0;
    font-size: 1.75vw;

}

.benefits-col-2 {
    margin: 0 50px;
}

#benefits-1 {
    padding-top: 40px;
}

#benefits-2 {
    padding-top: 50px;
}

#benefits-3 {
    padding-top: 40px;
}

#benefits-4 {
    padding-top: 45px;
}

#benefits-5 {
    padding-top: 50px;
}

#benefits-6 {
    padding-top: 30px;
}

#benefits-7 {
    padding-top: 45px;
}

#benefits-8 {
    padding-top: 50px;
}

#benefits-9 {
    padding-top: 50px;
}

.fa-solid {
    color: #1a2f4f;
}

.fa-plus,
.fa-xmark {
    font-weight: 600;
}

.fa-arrow-left {
    padding: 0 150px 72px 0;
}

.fa-arrow-right {
    padding: 0 0 72px 150px;
}

.fa-solid:hover {
    color: #1a2f4f;
}


.carousel-indicators button.active {
    background-color: #1a2f4f;
}

.carousel-indicators {
    position: relative;
    /* margin: 0px 176px 0; */
}

.carousel-buttons {
    margin: 50px 0 0;
}


/* End Benefits of Therapy Section */
